<h2 class="content-block">Sessions Events</h2>
<div class="content-block">
    <div class="dx-card responsive-paddings">
        <dx-data-grid
            id="gridContainer"
            [dataSource]="events"
            keyExpr="ID"
            [showBorders]="true"
            [columnAutoWidth]="true"
            [columnHidingEnabled]="true"
        >
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>

        <dxo-filter-row [visible]="true"></dxo-filter-row>

        <dxo-search-panel [visible]="true"></dxo-search-panel>

        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxi-column dataField="ID" caption="ID"></dxi-column>
        <dxi-column dataField="Executed_Date" caption="Planned Run Date"></dxi-column>
        <dxi-column dataField="ID_Session" caption="ID Session"></dxi-column>
        <dxi-column dataField="Name_Product" caption="Product"></dxi-column>
        <dxi-column dataField="Version" caption="Version"></dxi-column>
        <dxi-column dataField="Comments" caption="Description"></dxi-column>
        <dxi-column dataField="Status" caption="Status"></dxi-column>
        <dxi-column dataField="Planning" caption="Planning"></dxi-column>
        <dxi-column dataField="Created_by" caption="Created By"></dxi-column>
        <dxi-column dataField="Created_date" caption="Created Date"></dxi-column>
        <dxi-column  caption="Action" cellTemplate="cellTemplate" [fixed]="true" fixedPosition="right">
            <div *dxTemplate="let cell of 'cellTemplate'">
                <em class="fas fa-eye actionView"></em>
                <em *ngIf="isEditButtonVisible" class="fas fa-edit actionEdit" ></em>
                <em *ngIf="isPlayButtonVisible" class="fas fa-play actionPlay"></em>
                <em *ngIf="isDeleteButtonVisible" class="fas fa-trash actionDelete"></em>
            </div> 
                          
        </dxi-column>
        </dx-data-grid>
    </div>
</div>