<dx-popup
    [width]="getWidthPopUp()"
    height="auto"
    [maxHeight]="getHeightPopUp()"
    [showTitle]="true"
    [title]="title"
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [showCloseButton]="false"
    container=".dx-viewport"
    [(visible)]="popupVisible"
    class="container"
>
    <dx-scroll-view width="100%" height="100%">
      <div class="container">
        <div class="containt">
            <div class="dx-field one-item" *ngFor="let item of details| keyvalue">
              <div class="dx-field-label">{{strRemplace(item.key)}}</div>
              <div  *ngIf="(typeOf(item.value) == 'string') && (item.key != 'Comments') && (item.key != 'Description')"
                    [ngClass]="{'dx-field-value-static': true,
                                'status': isStatus(item.key),
                                'status-open': (toUpperCase(item.value) == 'OPEN') && isStatus(item.key),
                                'status-closed': (toUpperCase(item.value) == 'CLOSED') && isStatus(item.key),
                                'status-inProgress': (toUpperCase(item.value) == 'IN PROGRESS') && isStatus(item.key),
                                'status-draft': (toUpperCase(item.value) == 'DRAFT') && isStatus(item.key),
                                'status-delivered': (toUpperCase(item.value) == 'DELIVERED') && isStatus(item.key),
                                'status-cancelled': (toUpperCase(item.value) == 'CANCELLED') && isStatus(item.key)}">
                {{item.value}}
              </div>
              <app-detail-pop-up-sous-detail  class="dx-field-value-static" 
                                              *ngIf="(typeOf(item.value) == 'object') && (item.key != 'Comments') && (item.key != 'Description')" 
                                              [data]="item.value">
              </app-detail-pop-up-sous-detail>
              <div  class="dx-field-value-static"
                    *ngIf="(item.key == 'Comments') || (item.key == 'Description')"
                    [innerHTML]="item.value">
              </div>
            </div>
        </div>
        <div class="buttons">
          <dx-button
            stylingMode="contained"
            text="Close"
            type="normal"
            [width]="80"
            (click)="closePopUp()"
          >
          </dx-button>
        </div>
      </div>
    </dx-scroll-view>  
</dx-popup>