<dx-popup
    [width]="getWidthPopUp()"
    height="auto"
    [showTitle]="true"
    [title]="title"
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [showCloseButton]="false"
    container=".dx-viewport"
    [(visible)]="popupVisible"
    class="container"
>
  <div class="container">
    <div class="containt">
        <div class="dx-field one-item" *ngFor="let item of details| keyvalue">
          <div class="dx-field-label">{{strRemplace(item.key)}}</div>
          <div class="dx-field-value-static">{{item.value}}</div>
        </div>
    </div>
    <div class="buttons">
      <dx-button
        stylingMode="contained"
        text="Close"
        type="normal"
        [width]="80"
        (click)="closePopUp()"
      >
      </dx-button>
    </div>
  </div>
</dx-popup>