/* You can add global styles to this file, and also import other style files */
*{
    --theme-color: #009688;
}
.action{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--theme-color);
    cursor: pointer;
}

.dx-field-value-static{
    padding: 0px;
}

.dx-field{
    margin-bottom: 15px;
}