<!--<div id="accordion">
    <dx-accordion
      #accordion
      [dataSource]="testListData"
      [collapsible]="true"
      [multiple]="true"
      [animationDuration]="300"
    
    >
      <div *dxTemplate="let tld of 'item'">

        <h6>{{tld.ID_Test}} :  {{tld.Test_Name}}</h6>
      </div>   
    </dx-accordion>

    <div id="list-api-demo">
        <div class="widget-container">
          <dx-list
            [dataSource]="testListData"
            [height]="400"
           
          >
        </dx-list>
        </div>
    </div>
-->
   

    <div class="list-container">
        <dx-list [dataSource]="testListData" height="100%"   >
          <div *dxTemplate="let item of 'item'">
            <div class="element">
              <div>{{ item.ID_Test }}: {{ item.Test_Name }}</div>
            </div>
        </div>
        </dx-list>
      </div>