<h2 class="content-block">Products / Components Version</h2>
<div class="content-block">
    <div class="dx-card responsive-paddings">
        <dx-data-grid
            id="gridContainer"
            [dataSource]="products"
            [keyExpr]="keyexpr"
            [showBorders]="true"
            [columnAutoWidth]="true"
            [columnHidingEnabled]="true"
            [height]="700"
        >

            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>

            <dxo-filter-row [visible]="true"></dxo-filter-row>

            <dxo-search-panel [visible]="true"></dxo-search-panel>

            <dxo-header-filter [visible]="true"></dxo-header-filter>

            <dxi-column dataField="ID_Version" caption="ID"></dxi-column>
            <dxi-column dataField="Name_Product" caption="Name Product"></dxi-column>
            <dxi-column dataField="Description" caption="Description"></dxi-column>
            <dxi-column dataField="IdPQ" caption="Id PQ"></dxi-column>
            <dxi-column dataField="Status_PQ" caption="Status PQ"></dxi-column>
            <dxi-column dataField="Version" caption="Version"></dxi-column>
            <dxi-column dataField="patch" caption="Patch"></dxi-column>
            <dxi-column caption="Action" cellTemplate="cellTemplate" [fixed]="true" fixedPosition="right">
                <div *dxTemplate="let cell of 'cellTemplate'" class="action">
                    <em class="fas fa-eye" (click)="onSeeDetailClick(cell)"></em>
                </div>
            </dxi-column>
            
            <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>
            <div *dxTemplate="let product of 'detail'">
                <app-products-components-versions-detail [parentData]='product.data'></app-products-components-versions-detail>
            </div>

            <dxo-selection mode="multiple"></dxo-selection>

            <dxo-export fileName="Products-components-versions" [enabled]="true" [allowExportSelectedData]="true"></dxo-export>

        </dx-data-grid>    
    </div>
</div>
<app-detail-pop-up [event]="seeDetailSubject" title="Product Version Details"></app-detail-pop-up>