<h2 class="content-block">Change Password</h2>
<div class="content-block">
    <div class="dx-card responsive-paddings">
        <div class="dx-fieldset">
            <div class="dx-field">
              <div class="dx-field-label">Current Password</div>
              <div class="dx-field-value">
                <dx-text-box [(value)]="currentPassword" mode="password">
                    <dx-validator #currentPasswordValidator>
                        <dxi-validation-rule
                            type="required"
                            message="Current Password is required"
                        ></dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>
              </div>
            </div>
            <div class="dx-field">
              <div class="dx-field-label">New Password</div>
              <div class="dx-field-value">
                <dx-text-box [(value)]="newPassword" mode="password">
                    <dx-validator #newPasswordValidator>
                        <dxi-validation-rule
                            type="required"
                            message="New Password is required"
                        ></dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>
              </div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">Confirm Password</div>
                <div class="dx-field-value">
                  <dx-text-box [(value)]="confirmPassword" mode="password">
                    <dx-validator #confirmPasswordValidator>
                        <dxi-validation-rule
                          type="required"
                          message="Confirm Password is required"
                        ></dxi-validation-rule>
                        <dxi-validation-rule
                            type="compare"
                            [comparisonTarget]="passwordComparison"
                            message="Password and Confirm Password do not match"
                        ></dxi-validation-rule>
                    </dx-validator>
                  </dx-text-box>
                </div>
              </div>
          </div>
          <div class="dx-fieldset right">
            <dx-validation-summary class="validation-summury"></dx-validation-summary>
        
            <dx-button
              stylingMode="contained"
              text="Submit"
              type="normal"
              [width]="120"
              (click)="updatePassword()"
              [useSubmitBehavior]="true"
            >
            </dx-button>
          </div>
    </div>
</div>